

body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family: 'Kumbh Sans' , sans-serif;
    height:100vh;
    width:100vw;
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom 50vh right 50vw, top 50vh left 50vw;
}

h1 , .stat{
    font-weight:700;
}
.age , .location{
    font-weight: 400;
    color:hsl(227, 10%, 46%);
}
.age{
    padding-left:.25em;
}
.location{
    padding-bottom: 1em;
}
.card{
    background-color:white;
    width:400px;
    border-radius:1em;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.card-header{
    background: url(./images/bg-pattern-card.svg);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding-top:3em;
    width:400px;
    display:flex;
    justify-content: center;
}
.card-header img{
    border-radius:50%;
    position: relative;
    top: 50px;
    border: 5px solid white;
}

.card-body{
    padding-top:3em;
    text-align:center;
    border-bottom:.25px solid hsl(229, 23%, 23%);
    width:400px;
}
.card-footer{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    width:400px;
    padding:2em 0;
}
.followers , .likes , .photos{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.label{
    font-size: .75rem;
    margin-top:.5em;
    color:hsl(227, 10%, 46%);
}


footer{
    position:absolute;
    bottom:3%;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }